@using WebMvc.Models
@model IEnumerable<WebMvc.Models.FriendViewModel>

@{    
    var listaPessoas = ViewBag.Friends;
}

<h2>Primeiro Formulario</h2>

@using(Html.BeginForm("Index", "FirstFriend", FormMethod.Post, new {lista = listaPessoas})) {
    <b>Lista</b>
    
    <table class="table table-condensed table-hover">
        <thead>
            <tr>Lista</tr>
        </thead>
        <tbody>
            @foreach(var friend in listaPessoas) {
                <tr>
                    <td> @Html.CheckBox("Selected", false) </td>
                    <td> @friend.Name </td>
                    <td> @friend.LastName </td>
                    <td> @friend.Email </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
}


