@using WebMvc.Models
@model IEnumerable<WebMvc.Models.FriendViewModel>


<h2>Primeiro Formulario</h2>

<div class="form-horizontal">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th> Name </th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var friend in (IEnumerable<FriendViewModel>)TempData["Friends"]) {
            <tr>
                <td> @Html.RadioButton("TESTE", friend.Id, new { id = friend.Id}) </td>
                <td> @friend.Name </td>
                <td> @friend.LastName </td>
                <td> @friend.Email </td>
            </tr>
            }
        </tbody>
    </table>
</div>
