<!DOCTYPE html>
@model IEnumerable<WebMvc.Models.FriendViewModel>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista 1</title>
</head>

<body>
    <title>Lista simplificada</title>
    <ul>
        @if(TempData["Friends"] != null) {
            foreach(var aluno in TempData["Friends"] as List<string>) {
                Console.WriteLine(aluno.Name);
            }
        }
    </ul>
</body>
</html>