@model WebMvc.Models.FriendViewModel

<h2>Primeiro Formulario</h2>

@using(Html.BeginForm("Index", "FirstFriend", FormMethod.Post)) {
    <b>Lista</b>
    @*<br />
    <span>Friend </span> @Html.CheckBoxFor(model => model.Selected)
    <br />
    <span>Teste </span> @Html.CheckBoxFor(model => model.Selected)*@



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
}


