@model IEnumerable<WebMvc.Models.FriendViewModel>
@using WebMvc.Models
@{ 
    var friends = TempData.Peek("Friends");
}

<h2>Segundo Formulario</h2>

<div class="form-horizontal">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Lista</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in (IEnumerable<FriendViewModel>)friends)
            {
                <tr>
                    <td> @Html.CheckBox("Selected", friend.Selected) </td>
                    <td> @friend.Name </td>
                    <td> @friend.LastName </td>
                    <td> @friend.BirthDate </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="btn btn-link" href="../FirstFriend/Index">Primeira pagina</a>
