@model WebMvc.Models.FriendViewModel

<h2>Segundo Formulario</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <b>Lista</b>
    <br />
    <span>Friend </span> @Html.CheckBoxFor(model => model.Selected)
    <br />
    <span>Teste </span> @Html.CheckBoxFor(model => model.Selected)
}


<a class="btn btn-link" href="../SecondFriend/Index">Segunda pagina</a>
